[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-sqlalchemy = "*"
flask = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-jwt-extended = "*"
bcrypt = "*"
flask-cors = "*"
flask-migrate = "*"
selenium = "*"
gunicorn =  "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
